$fontSize      = 1.6rem;
$fontPrimary   = 'Lucida Grande', Helvetica, Arial, sans-serif;

$linkColor     = #00b7ff;
$btnBgColor    = #424242;

$spacer        = 16px;
$spacer-xs     = $spacer / 4;
$spacer-sm     = $spacer / 2;
$spacer-md     = $spacer * 1.5;
$spacer-lg     = $spacer * 2;
$spacer-xl     = $spacer * 2.5;
$spacer-xxl    = $spacer * 3;
